@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');

body    
{
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans Pro', sans-serif;
}

.menu-intro-items  
{
    margin: 1.3rem 0.63rem;
    font-size: 1.3rem;
    font-weight: bold;
    color:#00ffff; 
    text-shadow: -2px -2px 4px #000000;
    text-align: center;
    list-style-type: none;
}

.h1-title 
{
    /* mínimo valor al que puede llegar, valor preferido que queremos, máximo valor al que puede llegar */
    font-size: clamp(2rem, 5vw, 3.75rem);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: 500;
    text-shadow: 0px 0px 16px #000000;
    margin: 1.3rem 0.63rem;  
    padding-bottom: 0.63rem;
}

.h2-title 
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: left;
    font-size: 1.9rem;
    font-weight: 500;
    text-shadow: 0px 0px 16px #000000;
    padding: 0.94rem 1.88rem;
}

.menu-intro 
{
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1.3rem;
    color:#00ffff; 
    font-weight: bold;
    text-shadow: -2px -2px 4px #000000;
    padding-bottom: 0.63rem;
    margin: 0rem 0.63rem;
}

.header-nav-properties   
{
    width: 100%;
    font-size: 1.3rem;
    padding: 3.13rem 0rem; 
    box-sizing: border-box;
    display: flex; 
    text-align: center;
    justify-content: center;
    font-weight: 600;
    gap: 80px;
}

.header-image-properties   
{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.header-image
{
    max-width: 100%;  
    box-sizing: border-box;
    display: flex;
    padding-top: 3.13rem;
}

.header-nav-properties-a:hover
{
    color:#7fff00;
}

.selected
{
    color: #ff0000;
}

.footer-image-properties    
{
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    text-align: center;
}

.footer-image-properties-image
{
    max-width: 100%; 
}

.social-media    
{
    width: 100%; 
    box-sizing: border-box;
    display: flex;
    text-align: center;
    justify-content: center; 
    gap: 30px;
}

.social-media-image    
{   
    max-width: 100%; 
    padding-top: 3.13rem;
}

.social-media .facebook:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

.social-media .instagram:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

.social-media .pinterest:hover 
{
    transition: 350ms;
    transform: scale(1.2);
}

.products 
{
    width: 80%;
    margin: 0 auto; 
    padding: 1.3rem;
    box-sizing: border-box;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(15.63rem, 1fr));
}

.products-image
{
    max-width: 100%;
    margin-bottom: 1.88rem; 
}

.address-a
{
    font-weight: 600;
    color:#d2691e;
    padding-bottom: 1.3rem;
}

address
{
    width: 100%;
    text-align: center;
}

hr 
{
    margin-top: 1.3rem;  
    border: none;
    height: 0.13rem;
    background: #c0c0c07a;
}

h4, h5
{
    width: 100%;
    text-align: center;
    color: #8e8e8e;
    font-weight: 500;
}

li
{
    list-style: none;
}

a   
{
    color: #000000;
    text-decoration: none;
}





/***** MEDIA QUERIES *****/
@media screen and (max-width: 52em)
{
    .header-image, .footer-image-properties-image
    {
        width: 105px;
    }

    .products-image
    {
        width: 140px;
    }

    .social-media-image
    {
        width: 56px;
    }

    .h2-title 
    {
        font-size: 1.8rem;
    }

    .menu-intro, .header-nav-properties, .menu-intro-items
    {
        font-size: 1.2rem;
    } 

    .header-nav-properties   
    {
        gap: 40px;
    }

    .products
    {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
}

@media screen and (max-width: 37em)
{
    .header-image, .footer-image-properties-image
    {
        width: 100px;
    }

    .products-image
    {
        width: 135px;
    }

    .social-media-image
    {
        width: 51px;
    }

    .h2-title 
    {
        font-size: 1.7rem;
    }

    .menu-intro, .header-nav-properties, .menu-intro-items
    {
        font-size: 1.1rem;
    } 

    .header-nav-properties   
    {
        flex-direction: column;
        gap: 20px;
    }

    .products
    {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }
}





@media (hover: hover)    
{
    button:hover
    {
        background-color: #fff;
        color: #deb887;
    }
}





@media (prefers-color-scheme: dark)
{
    body
    {
        background-color: #333;
        color: #d3d3d3;
    }

    .menu-intro, .menu-intro-items
    {
        color: #fff;
    }

    .header-nav-properties-a, h4, h5
    {
        color: #d3d3d3;
    }

    hr
    {
        background: #d3d3d3;
    }

    .address-a
    {
        color:#7fff00;
    }

    .selected
    {
        color:#ffff00;
    }
}